*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
.sky{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
}
.trees{
  width: 100%;
  height: 100vh;
  background-image: url(trees.png);
  background-size: cover;
  position: absolute;
  top: -144px;
}
.track{
  width: 800vw;
  height: 60vh;
  background-image: url(track.png);
  background-repeat: repeat-x;
  position: absolute;
  top: 70vh;
  animation: carMove linear 6s infinite;
}

.car{
  height: 100px;
  width: 380px;
  background-image: url(car_body.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 344px;
  bottom: 20vh;
  animation: carShak linear .3s infinite;
}

.wheel{

}

.wheel1 img{
  width: 77px;
  position: relative;
  top: 39px;
  left: 42px;
  animation: wheelRotation linear .16s infinite;
}

.wheel2 img{
  width: 77px;
  position: relative;
  top: -40px;
  left: 235px;
  animation: wheelRotation linear .16s infinite;
}

@keyframes wheelRotation {
  100%{
    transform: rotate(360deg);
  }
}

@keyframes carMove {
  100%{
    transform: translateX(-500vw);
  }
}

@keyframes carShak {
  0%{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(-5px);
  }
}

@keyframes shekBody {
  0%{
    transform: translateY(-50px);
  }
  50%{
    transform: translateY(50px);
  }
  100%{
    transform: translateY(-50px);
  }
}

